/*body { background:#f8f8f8 url(images/logo-2.jpg) top center no-repeat; padding-top:120px; background-size:contain; }*/

/*@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);*/

/*::-webkit-scrollbar {
  display: none;
}*/

.new_forms {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #ffffff;
  top: 100%;
  opacity: 0;
  z-index: 9999999;
}

.add_prdct, .add_ticket , .add_branch {
  float: left !important;
}

a {
  text-decoration: none !important
}

table tr {
  background-color: transparent !important
}

.h2 {
  color: #0c70ac;
  border-bottom: 3px solid #0c70ac;
  padding-bottom: 15px;
  font-size: 18px !important;
}

.h2 i {
  float: right;
  padding-left: 8px;
}

table tr .btn {
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  background-color: green;
  opacity: 0.1;
}

::-webkit-scrollbar-thumb {
  background-color: navy;
  opacity: 0.1;
}

a, p {
  color: #888888;
  font-weight: 400
}

.product {
  border-radius: 5px;
  border: 1px solid #eeeeee;
  text-align: center;
  margin-bottom: 8PX;
}

.product img {
  width: 100%;
  height: 16vh;
  border-radius: 0px;
  float: right;
  margin: 0px auto 10px auto;
  padding: 0;
}

.prd_content {
  width: 100%;
}

.product h2 {
  color: #106792;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.product p {
  display: block;
  overflow: hidden;
  padding: 0 10px;
  max-height: 6vh;
  MARGIN-BOTTOM: 5PX;
}

.product span {
  font-size: 12px;
  margin: 10px auto 0 auto;
  width: 100%;
  border-radius: 0;
}

.main {
  padding-top: 0px;
}

body, div {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: "Droid Arabic Kufi", tahoma;
  font-weight: 700
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: large
}

h3 {
  font-size: medium
}

h4 {
  font-size: medium
}

h5 {
  font-size: small
}

h6 {
  font-size: smaller
}

p {
  font-family: "Droid Arabic Naskh", tahoma;
  font-size: small
}

body {}

.main_menu {
  display: table;
  margin: 5px auto;
}

.nav-tabs>li>a {
  text-decoration: none;
}

.preloader {
  display: block;
  background: #ffffff url(../images/loading.gif) center center no-repeat;
  background-size: 35% 20%;
  z-index: 111111;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
}

.splash {
  display: block;
  background: #ffffff url(../images/bg2.jpg) top center no-repeat;
  background-size: cover;
  z-index: 999999999;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
}

.user {
  text-transform: lowercase;
}

.new_user {
  position: absolute;
  left: 20%;
  width: 60%;
  color: #ffffff !important;
  bottom: 15%;
  z-index: 99;
  opacity: 0;
  font-size: 12px;
  border-radius: 0;
  color: #000000;
}

.skip_to_home {
  position: absolute;
  left: 0%;
  width: 100%;
  color: #ffffff !important;
  bottom: 0%;
  z-index: 99;
  opacity: 0;
  font-size: 12px;
  border-radius: 0;
}

.skip_to_home_icon {
  position: absolute;
  left: 15%;
  width: auto;
  color: #ffffff !important;
  bottom: 45%;
  z-index: 99;
  opacity: 0
}

.skip_to_home_icon i {
  color: #0172bb;
  font-size: xx-large;
}

.check_interent {
  position: absolute;
  left: 0%;
  width: 100%;
  color: #ffffff !important;
  bottom: 0%;
  z-index: 99;
}

.border-warning {
  border: 1px solid #f0ad4e !important;
}

.login_success {
  FLOAT: left;
  border-radius: 0 !important;
  width: 100%;
  padding: 25px 18% 36px 0 !important;
  background: #04619d !important;
  color: #ffffff;
  border: none;
}

.login_form {
  margin-top: 0px;
}

.alert {
  border-radius: 25px;
  overflow: hidden;
  padding: 4px 10px;
}

.main_menu a {
  display: inline-block;
  width: 100%;
  font-weight: 400;
  padding: 12px 10px;
  margin: 0;
  color: #888888;
  text-align: center;
}

form a, .login_form a, .check_ticket_by_number a {
  font-weight: 400;
  color: #666666;
  display: block;
  clear: both;
  padding: 15px 8px;
  font-size: 14px;
  text-decoration: underline;
}

td {
  padding: 4px;
}

.order_pr {
  margin-top: 20px;
  color: #ffffff !important;
}

#show_menu {
  padding: 10px 10px 10px 10px;
  background: none;
  border: 0;
  color: #f68122;
  font-size: 2em;
  position: absolute;
}

#show_menu i {
  /**/
  padding: 5px;
  background: #ffffff;
  border-radius: 2px;
}

.tab-content {
  margin-top: 15px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  margin-top: 18vh;
}

.main_menu a.active {}

.t_id {
  margin: 45px 0
}

.main_menu a i {
  float: right;
  font-size: 1.5em;
  font-weight: 400;
  color: #ffffff;
  margin: 5px;
}

.main_menu a i:active {
  color: #FFBD54
}

.main_menu a span {
  display: block;
  color: #888888;
  white-space: nowrap;
}

.hidden {
  display: none !important;
}

.bottom_buttons {
  opacity: 0.90;
  position: fixed;
  bottom: 0;
  left: -100%;
  width: 100%;
  margin: 0;
  background-color: #04619d;
  height: 100vh;
  z-index: 9999999;
  padding-top: 5vh;
}

.bottom_buttons .close_me, .close_forms {
  position: absolute;
  padding: 5px 20px;
  color: #ffffff;
  font-size: 2em;
  font-weight: 700;
  top: 0px;
  left: 0px
}

.close_forms {
  color: red
}

.bottom_buttons a {
  display: table;
  width: 90%;
  margin: 0 auto;
  clear: both;
}

.bottom_buttons a span {
  float: right;
  color: #ffffff;
  margin: 7px;
}

/* RTL JQUERY MOBILE  */

.ui-btn-icon-right:after {
  left: .5625em !important;
  right: auto;
}

.ui-btn-icon-right {
  padding-left: 2.5em;
  padding-right: 1.5em;
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
  width: 48px;
  height: 48px;
}

.main_ticket {
  box-shadow: inset #e8f4fb 0px 0px 100px 0px;
  border: 2px solid;
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 10px;
  border: 1px solid #04619d;
  border-radius: 0;
  width: 90%;
  margin-right: 5%;
}

.main_ticket, .posts .comment, .main_ticket p, .posts .comment p {
  font-size: 1em;
}

.posts h2 {
  line-height: 200%
}

.comment h2 {
  float: right;
  width: 19%;
  border-radius: 20%;
  padding: 15px;
  font-size: 0.7em;
  font-weight: 400;
  text-align: center;
  border: 4px solid #168fc5;
  zoom: 0.7;
  margin-top: 24px;
}

.posts .comment p {
  float: left;
  width: 80%;
  background: #f7fdff;
  padding: 14px;
  border-radius: 0px;
  margin: 10px 0;
  border-bottom: 2px solid #2f8ce6;
}

.posts .comment:nth-child(even) {
  /*background: #f9f9f9;*/
}

/*#logout {
  position: absolute;
  left: 10px;
  top: 6px;
  border-radius: 100%;
  border: 0;
  padding: 4px 8px;
  background: red;
}*/

/*#logout i {
  color: #ffffff;
  font-size: 1.8em;
}*/

.ui-page-theme-a .ui-btn {
  background-color: transparent;
  border: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.ui-icon-bars:after {
  background-position: center;
  background-size: 30px;
  /*background-size: 24px 24px;*/
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
  -webkit-border-radius: 0em;
  border-radius: 0em;
}

.ui-page-theme-a .ui-btn:active, .ui-page-theme-a .ui-btn:hover {
  background-color: inherit;
  border: none;
  box-shadow: none;
  color: inherit;
  text-shadow: none;
}

.ui-btn-icon-notext:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after {
  left: 3% !important;
  margin-left: -3px !important;
}

.ui-btn-icon-notext:after, .ui-btn-icon-left:after, .ui-btn-icon-right:after {
  top: 27% !important;
  margin-top: -11px !important;
}

.header .ui-btn {
  width: 48px !important;
  height: 48px !important;
}

/*---End of rtl jquery mobile ---*/

table, th, td {
  border: 1px solid #cccccc !important;
}

body, #main_page, .ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {}

.cars_list {
  display: block;
  overflow: hidden;
}

.page {
  padding-top: 10px;
}

.about {}

.about h1 {
  margin-bottom: 15px;
  font-size: 1.5em;
}

.h2 {
  font-size: 1.5em;
  margin: 25px 0 !important;
}

.madad_body {}

.header {
  margin: 0px;
  z-index: 99999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  /* background: red; */
  width: 100%;
  height: 10vh;
}

.jt {
  position: absolute;
  top: 32vh;
  max-width: 50%;
}

.jt_device {
  z-index: 1;
  left: 28%;
  top: 50%;
  opacity: 0;
}

.jt_shad {
  z-index: 0;
  left: 20%;
}

.jt_front {
  z-index: 2;
  right: 20%;
}

#main_page {
  padding-top: 10vh;
}

#menu {
  background-color: #96641d;
  direction: rtl;
  text-align: right;
  opacity: 0.95;
  position: fixed;
  height: 100vh;
}

#menu .ui-panel-inner-top-HG {
  background: #7b4f10 url('../images/logo.png') center center no-repeat;
  background-size: contain;
  text-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25vh;
}

#menu .ui-panel-inner h3 {
  color: #ffffff;
  margin-bottom: 2em
}

#menu .ui-listview {
  margin-top: 22vh;
}

#menu .ui-listview li a {
  text-align: right;
  color: #ffffff;
  line-height: 200%;
  font-family: "Droid Arabic Kufi", tahoma;
  font-weight: 400
}

#menu .ui-listview li a:active {
  color: #da8e0b;
}

.header .bars_icon {
  margin-top: 14px;
}

.logo {
  max-width: 75%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.splash .logo {
  position: absolute;
  top: 11vh;
  right: 20%;
  top: 32%;
  max-width: 60%;
  opacity: 0;
}

.post_area {
  background-color: #ffffff;
  border-radius: 0px;
  padding: 10px;
  margin-bottom: 0px;
  width: 50%;
  height: 270px;
  overflow: hidden;
  border-bottom: 1px solid #f0f0f0;
}

.post_area:nth-child(odd) {
  border-left: 1px solid #f0f0f0
}

.post_area .p_content {
  line-height: 230%;
}

.post_area img {
  width: 100%;
  height: 130px;
  border-bottom: 1px solid #f0f0f0;
}

.post_area a {
  text-decoration: none;
  overflow: hidden;
  display: block;
}

.post_area h2 {
  font-size: 16px;
  text-decoration: none;
  color: #555555;
}

.post_area span {
  font-size: 12px;
  color: #999999;
  font-weight: 400;
}

.posts {
  padding: 1% 1% 10% 1%;
  overflow: hidden;
}

.t_show {
  display: table;
  margin: 10px auto;
}

.hr {
  margin-bottom: 15px;
  display: block;
  overflow: hidden;
  width: 100%;
  clear: both
}

.madad_body {
  margin-top: 40px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0
}

.toggle {
  z-index: 9999999999999999999;
  cursor: pointer;
}

#sidebar {
  z-index: 9999999999999999999;
  overflow: hidden;
  background: #FC0;
  /*background: -moz-linear-gradient(left, #f9f9f9 0%, #ededed 100%);
background: -webkit-linear-gradient(left, #f9f9f9 0%,#ededed 100%);
background: linear-gradient(to right, #f9f9f9 0%,#ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ededed',GradientType=1 );*/
}

#sidebar ul {
  list-style: none;
  margin-top: 30px;
}

#sidebar ul li a {
  display: block;
  font-weight: bold;
  font-size: medium;
  color: #111111;
  font-family: "Droid Arabic Kufi", tahoma;
  padding: 25px 5%;
  border-bottom: #954A00 1px solid
}

.home-icons {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #f4f4f4;
  width: 100%;
  z-index: 99;
  border-top: 1px solid #c5c5c5;
}

.home-icons a:last-child {
  border-left: none
}

.home-icons a span {
  text-align: center;
}

.home-icons a i {
  width: 100%;
  display: block;
  padding: 0;
  color: #888888;
  margin: 8px 0;
  font-size: 36px;
}

.home-icons a p {
  display: block;
  width: 100%;
  padding: 5px 0;
  color: #888888;
  font-size: small;
  white-space: nowrap;
  font-weight: 400;
  font-family: "Droid Arabic Kufi", tahoma;
  text-align: center;
}

label {
  font-weight: 400
}

.login_tabs>li:first-child>a.active {
  color: #0172bb;
}

.login_tabs>li:last-child>a.active {
  color: #f0ad4e;
}

#carouselExampleIndicators {
  /*margin-top: 15px;*/
}

.carousel {
  direction: ltr;
  margin: -8px 0 0 0;
  border: 3px solid #0172bb;
  overflow: hidden;
  display: block;
}

.carousel img {
  display: block;
  max-width: 100%;
  min-height: 200px;
  border-radius: 20px;
  overflow: hidden;
  ;
}

.carousel-item {
  border-radius: 20px;
  overflow: hidden;
}

.home-icons a.active i {
  color: #FC0;
}

.home-icons a.active i, .home-icons a.active p {
  color: #75ad2b
}

.home-icons a:active {
  background: #FC0;
}

.home-icons a:active i, .home-icons a:active p {
  color: #000000
}

.car-item {
  /*background: #f9f9f9;
background: -moz-linear-gradient(top, #f9f9f9 0%, #ededed 100%);
background: -webkit-linear-gradient(top, #f9f9f9 0%,#ededed 100%);
background: linear-gradient(to bottom, #f9f9f9 0%,#ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ededed',GradientType=0 );
border-bottom:1px dashed #999;*/
  padding: 20px;
}

iframe {
  background: #f0f0f0
}

.about h4 {
  font-size: large
}

.about p {
  font-size: 1em;
  line-height: 190%;
}

.car-item ul {
  list-style: none
}

.car-item li {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.car-item h3 {
  font-size: large
}

.btn {
  font-size: large;
  font-family: "Droid Arabic Kufi", tahoma;
  border-radius: 3px;
}

form label {
  font-size: medium;
  font-family: "Droid Arabic Kufi", tahoma;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.form-control {
  border-radius: 0px;
  background: #ffffff;
  font-size: 14px;
  ;
  font-family: "Droid Arabic Kufi", tahoma;
  height: auto;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  border: 1px solid #0172bb;
  box-shadow: none !important;
}

iframe {
  background: #CCC url(../images/ellipsis.gif) center center no-repeat;
}

.contact h2 {
  font-size: 14px;
  white-space: nowrap;
}

.contact h3 {
  font-size: 12px;
  font-weight: normal;
  white-space: nowrap;
}

.map_me {
  display: block;
  margin-top: 15px;
  width: 100%;
  padding: 10px 5px;
  font-size: 12px;
  text-align: center;
  font-weight: 700;
  background: #090;
  color: #ffffff;
}

.map_me:active {
  background: #FC0;
  text-decoration: none
}

.map_me i {
  margin-left: 6px;
}

@media screen and (min-width:750px) {
  .main {
    zoom: 2
  }
}
